# Created by http://www.gitignore.io

### Objective-C ###
# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# CocoaPods
#Pods



build
*.perspective
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*/UserInterfaceState.xcuserstate
Memorable.xcworkspace/xcuserdata/wferrel.xcuserdatad/UserInterfaceState.xcuserstate
